packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    zlib-devel: []
    freetype-devel: []
    python27-devel: []
    postgresql94-devel: []

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_migrate:
    command: 'python manage.py migrate --noinput'
  03_collectstatics:
    command: 'python manage.py collectstatic --noinput'

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: district_euro/wsgi.py
    NumProcesses: 1
    NumThreads: 15